#hero{
    display:flex;
    background-color: rgb(184, 241, 213);
    border-radius: 15px;
    margin: 70px;
    padding-left: 55px;
    padding-top: 25px;
    padding-bottom: 55px;
    gap:10%;
    width:970px;
  
    
}
h4{
    color: gray;
}

.description{
    font-family:'Times New Roman', Times, serif;
font-size: 35px;
width:380px;
}

button{
    background-color: rgb(33, 139, 33);
    padding-left:25px ;
    padding: 15px;
    border-radius: 7px;
    color: white;
}


.image{
  width: 550px; 
  height: 350px;
  padding-right: 75px;
 
}