body{
    margin-left: 175px;
    margin-right: 275px;

}
.detail{
    color: grey;
}
/* This is css of hero part*/
#hero{
    display:flex;
    background-color: rgb(184, 241, 213);
    border-radius: 15px;
    
    padding-left: 55px;
    padding-top: 25px;
    padding-bottom: 55px;
    gap:10%;
   
  
    
}
h4{
    color: gray;
}

.description{
    font-family:'Times New Roman', Times, serif;
font-size: 35px;
width:380px;
}

button{
    background-color: rgb(33, 139, 33);
    padding-left:25px ;
    padding: 15px;
    border-radius: 7px;
    color: white;
}


.image{
  width: 550px; 
  height: 350px;
  padding-right: 75px;
 
}

/* This is css of vision part*/
.visioncard{
    display: flex;
    gap:55px;
}

.card1{
    background-color: rgb(198, 165, 211);
    padding:55px;
 border-radius: 15px;
}
.button1{
padding: 11px;
border-radius: 5px;
background-color: blueviolet;
color: white;
border: none;
}

.card2{
    background-color: rgb(233, 133, 208);
    padding:55px;
 border-radius: 15px;
}
.button2{
    padding: 11px;
    border-radius: 5px;
    background-color: rgb(226, 43, 156);
    color: white;
    border: none;
    }
.card3{
        background-color: rgb(34, 127, 163);
        padding:55px;
     border-radius: 15px;

    }
.button3{
        padding: 11px;
        border-radius: 5px;
        background-color: rgb(9, 55, 94);
        color: white;
        border: none;
        }
button:hover,.button3:hover,.button2:hover,.button1:hover{
    background-color: rgb(214, 74, 121);
}



/* This is css of recent news part*/

.recent_news1{
    display:flex;
    gap:5%;
    background-color: antiquewhite;
    padding: 55px;
    border-radius: 15px;
}


.pic{
    border-radius: 15px;
}
.recent_news2{
    display:flex;
    gap:5%;
    background-color: antiquewhite;
    padding: 45px;
    border-radius: 15px;
    margin-top: 25px;

}

/* This is css of donate news part*/

.div{
    display: flex;
    gap:2%;
    
}
.b1{
    background-color: rgb(252, 252, 252);
    padding: 15px;
    border-radius: 15px;
}
.b2{
    background-color: rgb(153, 218, 101);
    padding: 15px;
    border-radius: 15px;
}
span{
    padding-left: 175px;
}

.input{
    text-align: center;
    width:450px;
    margin-top: 15px;
    height: 35px;
   
}
.button11{
    margin-top: 15px;
    margin-left: 125px;
}
.donate{
 background-color: rgb(113, 184, 160);
 padding-left: 131px;
 padding-top: 26px;
 margin-top: 15px;
 padding-bottom: 11px;
 border-radius: 15px;
}