#hero{
    display:flex;
    background-color: rgb(91, 202, 147);
}
h5{
    color: gray;
}

.description{
    font-family:'Times New Roman', Times, serif;
font-size: 35px;
font-weight: 300;



}
.image{
  width: 420px; 
  height: 330px;
}